
.search-pokemon  {
   
  margin-top: 12rem; 
 
} 
.ui.search.dropdown{
  margin-top: 12rem; 

}
*, :after, :before {
   box-sizing:  content-box;
}
.ui.selection.dropdown {

  min-height: 2em;
}
.ui.grid>.row {

  margin-left: 20rem;

}
.ui.card:first-child {
    margin-top: 1em !important;
}
  
.ui.card {
    margin-right: 2em;
}



  